h1 {
    font-size: 50px;
}

h2 {

}

h3 {

}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.navbar {
    min-height: 41px;
    margin-bottom: 0px;
    border: 0px;
}
.navbar-toggle {
    margin-top: 3px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    color: #53A875;
}
.fa-stack {
    margin-top: -7px;
    margin-left: -10px;
}
#top {
    background: #F0FFF5;
    height: 41px;
}
.container-fluid {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
}
#responsive-menu {
    padding-top: 1px;
    position: relative;
    padding-right: 8px;
}
#responsive-menu a {
    color: #EDFFE9;
    padding: 6px 6px 5px 6px;
    margin: 2px 5px 0px 10px;
    background: #128522;
    box-shadow: 2px 2px 2px #006712;
    transition: .6s ease-out;
    transition-delay: 0.0s;
    outline: none;
}
#responsive-menu a:hover {
    background-color: #027512;
}
#responsive-menu .fa {
    padding-right: 16px;
    padding-left: 8px;
}

        /*-----Header-----*/
.header-container {
    margin-bottom: 0px;
    background: #FFF;
    padding-top: 0px;
    box-shadow: 3px 3px 3px #004D40;
    position: relative;
    z-index: 2;
}
.f-nav{
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

}

#header-inner-container {
    background: #009688;

}



.logo {
    margin-bottom: -4px;
    margin-top: -4px;
    z-index: 1;
    margin-left: 38px;
}


/*-----Skype&E-mail-----*/
#chats {
    width: 40px;
    padding-top: 5px;
    text-align: center;

}

#chats a {
    text-decoration: none;
    outline: none;
}
#chats b {
    color: #EDFFE9;
}

#skype {
    padding-top: 0px;
}

#e-mail {
    padding-top: 5px;
}

/*-------END-------*/

.social li {
    height: 28px;
    width: 28px;
    float: left;
    list-style: none;
    margin: 6px;
    transition: 0.2s ease-out;
    transition-delay: 0.0s;

}
.social li:hover {
    height: 28px;
    width: 28px;
    float: left;
    list-style: none;
    margin: 6px;
    box-shadow: 3px 3px 3px #004D40;
}


/* -----Social-----


#social {
    width: 40px;
    padding-top: 5px;

}
#social .image {
    width: 128px;
    height: 128px;
}

#social a {
    text-decoration: none;
    outline: none;
}
#social b {
    color: #EDFFE9;
}

#facebook {
    padding-top: 0px;
    width: 28px;
    height: 28px;

}

#facebook img {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

#facebook img:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

#google-plus {
    padding-top: 3px;

    width: 28px;
    height: 28px;
}

#google-plus img {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

#google-plus img:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

#vk {
    padding-top: 5px;

    width: 28px;
    height: 28px;
}

#vk img {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

#vk img:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}
*/
/*-------END-------*/
.skype-mail li {
    height: 36px;
    width: 36px;
    float: left;
    list-style: none;
    margin: 12px;
}

/*---Header-Button---*/

#cart {
    margin-top: 8px;
    margin-bottom: 4px;
}
#cart > .btn {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
    outline: none;
    border: none;
}
#cart .fa {
    font-size: 13px;
}
#cart a {
    text-decoration: none;
}

#cart i{
    padding-left: 5px;
    color: #ffffff;
    text-align: center;
    font-style: normal;
}

.btn {
    padding: 7.5px 12px;
    font-size: 12px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.btn-inverse {
    color: #ffffff;
    font-size: 18px;
    text-shadow: 1px 1px #004800;
    background-color: #44ee77;
    border-radius: 0;
    right: 0;
    width: 60%;
    min-width: 200px;
    box-shadow: 0px 0px 0px #44ee77, inset 0 25px 20px -10px #45a268,
    inset 0 -15px 20px -10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 1px #44ee77, inset 0 25px 20px -10px #45a268,
    inset 0 -15px 20px -10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 1px 1px 1px #44ee77, inset 0 25px 20px -10px #45a268,
    inset 0 -15px 20px -10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 0px #45a268,
    inset 0 25px 20px -10px #44ee77,
    inset 0 -15px 20px -10px rgba(0, 0, 0, 0.3);
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    -webkit-transition: background-color .5s ease-in-out;
    transition: background-color 1s ease;
}

.btn-inverse:hover {
    background-color: #11bb55;
    text-shadow: 1px 1px #004800;
    border-radius: 0;
    box-shadow: 0px 0px 0px #45a268,inset 0 20px 20px -10px #56b278,
    inset 0 -15px 20px -10px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: -1px -1px -1px #45a268,inset 0 20px 20px -10px #56b278,
    inset 0 -15px 20px -10px rgba(255, 255, 255, 0.3);
    -o-box-shadow: -1px -1px -1px #45a268, inset 0 20px 20px -10px #56b278,
    inset 0 -15px 20px -10px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 0px 0px #45a268,
    inset 0 20px 20px -10px #56b278,
    inset 0 -15px 20px -10px rgba(255, 255, 255, 0.3);
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    -webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}


/*#phone-adress {
    padding-top: 20px;
    text-align:  left;
}
#phone-adress a {
    text-decoration: none;
}
#phone-adress b {
    text-decoration: none;
    outline: none;
    color: #EDFFE9;
    vertical-align: 0px;
    font-size: inherit;
}
#phone-adress .fa {
    width: 63px;
}
.fa-phone-square {
    font-size: large;
}
#left-square {
    float: left;
}
#phone .fa {
    color: #AAEEFF;
    transition: .6s ease-out;
    transition-delay: 0.0s;
    font-size: 56px;
    padding-top: 3px;
}

#phone .fa:hover {
    color: #EDFFE9;

}
*/
#phone-a ul {
    margin-bottom: -4px;
}

#numb-phone {
    padding-top: 4px;
}


#numb-phone a {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 5px;
    text-decoration: none;
}

#phone-a li {
    height: 25px;
    width: 25px;
    list-style: none;
    float: left;
    padding-bottom: 5px;
    transition: 0.2s ease-out;
    transition-delay: 0.0s;
}

#phone-a li:hover {
    height: 30px;
    width: 30px;
    list-style: none;
    float: left;
    padding-bottom: 5px;
}


#ukrtelecom .img {
    padding-right: 5px;
}

#kyivstar .img {
    padding-right: 5px;
}

#lifecell .img {
    padding-right: 5px;
}

/*#ukrtelecom {
    height: 36px;
    width: 36px;
    list-style: none;

}

#kyivstar {
    height: 36px;
    width: 36px;
    list-style: none;

}

#lifecell {
    height: 36px;
    width: 36px;
    list-style: none;

}
*/

.presentation{
    border-bottom: #01579B solid 8px;
    background-image: url(../images/presentation_background.jpg);
    height: 700px;
}

.directions{
    min-height: 700px;
}

.carousel {
    background-image: url(../images/carusel_back.jpg);
    background-we: cover;
    height: 700px;
    border-top: #01579B solid 8px;
    border-bottom: #01579B solid 8px;
    z-index: 1;
}

.carousel-inner > .item > img {
    margin: 0 auto;

}
.carousel-control {
    color: #128522;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control:focus {
    color: #128522;
}



#title-1 {
    text-align:  center;
    color: #128522;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 100px;
}
#special-1 {
    text-align:  center;
    color: #53A875;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
}
#about-as {
    margin-top: 50px;
    background-color: #009688;
    text-align:  center;
   
}
#title-2 {
    text-align:  center;
    color: #53A875;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 15px;

}
#we-center{
    margin: auto;}
#we{
    text-align: center;
    color: #000000;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    margin-top: -34px;
    margin-bottom: 15px;
    padding-top: 20px;
}
#we-top {
    text-align: center;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    margin-top: -34px;
    margin-bottom: 45px;
    padding-top: 20px;
}

#footer {
    background-color: #B2EBF2;
    text-align: center;
    border-top: #01579B solid 8px;
    width: 100%;
    margin-top: 25px;
}

#contakt-foofter {
    color: #009688;
    font-size: 44px;
    transition: .4s ease-out;
    transition-delay: 0.0s;
}

#contakt-foofter:hover {
    color: #EDFFE9;
}

#contakt-foofter .fa-compass {
    color: #EDFFE9;
    font-size: 100px;
    transition: .4s ease-out;
    transition-delay: 0.0s;
}

#contakt-foofter .fa-compass:hover {
    color: #009688;
}

#fa-stakc {
    margin-top: -58px;
}

#contakt{
    margin-top: 10px;
}

#adress-footer {
    background-color: #B2EBF2;
    color: #009688;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 15px;
    border-bottom: #01579B solid 8px;
}

#adress-top {
    color: #3434a4;
}

#adress-top a{
    color: #009688;
}

#top-footer {
    color: #009688;
    text-align: center;
}

#logo-footer {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
}



#b-button .btn {
    height: 30px;
    width: 100px;
    outline: none;
    color: #3456b2;
    background: #aaeeff;
    border: none;
    border-radius: 0;
    margin: 0 6px;
    box-shadow: 2px 2px 2px #5678b2;

}

#bw-button .btn{
    height: 30px;
    width: 100px;
    outline: none;
    color: #2288ff;
    background: #aaeeff;
    margin: 5px;
    box-shadow: 3px 3px 3px #5678b2;
    float: none;
    margin-right: 4px;
    border-radius: 0;
}


#bw-button .btn:hover{
    height: 30px;
    width: 100px;
    outline: none;
    color: #2288ff;
    background: #9adeef;
    margin: 5px;
    box-shadow: 3px 3px 3px #4567b2;
    float: none;
    margin-right: 4px;
    border-radius: 0;
}


#g-button .btn{
    height: 30px;
    outline: none;
    color: #fff;
    background: #128522;
    background: linear-gradient(to bottom, #329543, #128522);
    width: 40%;
    float: left;
    margin: 6px;
    box-shadow: 3px 3px 3px #006712;
    border: none;
    border-radius: 0;
}
#g-button .btn:hover{
    height: 30px;
    outline: none;
    color: #fff;
    background: #128522;
    background: linear-gradient(to bottom, #228533, #087512);
    width: 40%;
    float: left;
    margin: 6px;
    box-shadow: 3px 3px 3px #006712;
    border: none;
    border-radius: 0;
}

#r-button .btn{
    height: 30px;
    outline: none;
    color: #fff;
    background: #f04555;
    float: none;
    width: 40%;
    margin: 5px 8px 5px 5px;
    box-shadow: 3px 3px 3px #a02535;
    border: none;
    border-radius: 0;
}
#r-button .btn:hover{
    height: 30px;
    outline: none;
    color: #fff;
    background: #e03545;
    float: none;
    width: 40%;
    margin: 5px 8px 5px 5px;
    box-shadow: 3px 3px 3px #a02535;
    border: none;
    border-radius: 0;
}

.breadcrumb {
    background: #FFffd9;
    margin: 0 0 20px 0;
    padding: 8px 0;
    box-shadow: 3px 3px 3px #c2b188;
}


/*----- Contacts-----*/
#contacts {
    margin-bottom: 10px;
}

#contacts h1 {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px #FFffd9;
    font-weight: bold;
    color: #01579B;
    text-align:  center;
}

#contacts h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px #FFffd9;
    font-weight: bold;
    color: #009688;
    text-align:  center;
}

#map {
    text-align:  center;
}

#manager {
    min-height: 350px;
    background-color: #F0FFF5;
    box-shadow: 3px 3px 3px #004D40;
}

#manager ul{
    font-family: 'Roboto Slab', serif;
    margin-left: -15px;
    list-style: none;
}

#manager img {
    height: 200px;
    width: 200px;
    margin-left: 20px;
}

#service {
    min-height: 350px;
    background-color: #F0FFF5;
    box-shadow: 3px 3px 3px #004D40;
}

#service ul{
    font-family: 'Roboto Slab', serif;
    margin-left: -15px;
    list-style: none;
}

#service img {
    height: 200px;
    width: 200px;
    margin-left: 20px;
}

#map-adress iframe {
    box-shadow: 3px 3px 3px #004D40;
}

#form {
    min-height: 350px;
    background-color: #F0FFF5;
    box-shadow: 3px 3px 3px #004D40;
}

#form ul {
    font-family: 'Roboto Slab', serif;
    margin-left: -15px;
    list-style: none;
}

#form img {
    height: 200px;
    width: 200px;
    margin-left: 20px;
}

#cotacts_row_1 {
margin-top: 30px;
}

#cotacts_row_2 {
    margin-top: 30px;
}