body {
    font-family: verdana;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.navbar {
    min-height: 41px;
    margin-bottom: 0px;
    border: 0px;
}
.navbar-toggle {
    margin-top: 3px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    color: #53A875;
}
.fa-stack {
    margin-top: -7px;
    margin-left: -10px;
}
#top {
    background: #EDFFE9;
    height: 41px;
}
.container-fluid {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
}
#responsive-menu {
    padding-top: 1px;
    position: relative;
}
#responsive-menu a {
    color: #EDFFE9;
    padding: 6px;
    margin: 2px 5px 0px 14px;
    background: #128522;
    box-shadow: 2px 2px 2px #006712;
    transition: .6s ease-out;
    transition-delay: 0.0s;
    outline: none;
}
#responsive-menu a:hover {
    background-color: #027512;
}
#responsive-menu .fa {
    padding-right: 16px;
    padding-left: 8px;
}
.header-container {
    margin-bottom: 0px;
    background: #FFF;
    padding-top: 0px;
}
.f-nav{
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;}
#header-inner-container {
    /*background: #53A875;*/

    background: rgba(82,167,116,1);
    background: -moz-linear-gradient(left, rgba(82,167,116,1) 0%, rgba(82,167,116,1) 0%, rgba(82,167,116,1) 12%, rgba(159,234,189,1) 37%, rgba(159,234,189,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(82,167,116,1)), color-stop(0%, rgba(82,167,116,1)), color-stop(12%, rgba(82,167,116,1)), color-stop(37%, rgba(159,234,189,1)), color-stop(100%, rgba(159,234,189,1)));
    background: -webkit-linear-gradient(left, rgba(82,167,116,1) 0%, rgba(82,167,116,1) 0%, rgba(82,167,116,1) 12%, rgba(159,234,189,1) 37%, rgba(159,234,189,1) 100%);
    background: -o-linear-gradient(left, rgba(82,167,116,1) 0%, rgba(82,167,116,1) 0%, rgba(82,167,116,1) 12%, rgba(159,234,189,1) 37%, rgba(159,234,189,1) 100%);
    background: -ms-linear-gradient(left, rgba(82,167,116,1) 0%, rgba(82,167,116,1) 0%, rgba(82,167,116,1) 12%, rgba(159,234,189,1) 37%, rgba(159,234,189,1) 100%);
    background: linear-gradient(to right, rgba(82,167,116,1) 0%, rgba(82,167,116,1) 0%, rgba(82,167,116,1) 12%, rgba(159,234,189,1) 37%, rgba(159,234,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a774', endColorstr='#9feabd', GradientType=1 );

}
.logo {
    margin-bottom: -4px;
    margin-top: -4px;
    z-index: 1;
    margin-left: 38px;
}
#chats {
    padding-top: 20px;
    text-align: left;
}
#chats a {
    text-decoration: none;
    outline: none;
}
#chats b {
    color: #EDFFE9;
}
#chats .fa {
    width: 40px;
    padding-right: 12px;
}
#header-inner-container .fa:hover {
    color: #EDFFE9;
}
#skype .fa {
    color: #00AFF0;
    transition: .6s ease-out;
    transition-delay: 0.0s;
}
#viber .fa {
    color: #7C529E;
    transition: .6s ease-out;
    transition-delay: 0.0s;
}
#icq .fa {
    color: #92F500;
    transition: .6s ease-out;
    transition-delay: 0.0s;
}
#social {
    padding-top: 20px;
}
#social a {
    text-decoration: none;
    outline: none;
}
#social b {
    color: #EDFFE9;
}
#social .fa {
    width: 40px;
    padding-right: 12px;
}
#facebook .fa {
    color: #3A5795;
    transition: .6s ease-out;
    transition-delay: 0.0s;
}
#google-plus .fa {
    color: #DB4437;
    transition: .6s ease-out;
    transition-delay: 0.0s;
}
#vk .fa {
    color: #57799D;
    transition: .6s ease-out;
    transition-delay: 0.0s;
}
#phone-adress {
    padding-top: 11px;
    text-align:  left;
}
#phone-adress a {
    text-decoration: none;
}
#phone-adress b {
    text-decoration: none;
    outline: none;
    color: #EDFFE9;
    vertical-align: 5px;
    font-size: inherit;
}
#phone-adress .fa {
    width: 63px;
}
.fa-phone-square {
    font-size: large;
}
#left-square {
    float: left;
}
#phone .fa {
    color: #AAEEFF;
    transition: .6s ease-out;
    transition-delay: 0.0s;
    font-size: 56px;
    margin-top: -3px;
}
#e-mail {
    clear: left;
    float: left;
}
#e-mail .fa {
    color: #FFDD00;
    transition: .6s ease-out;
    transition-delay: 0.0s;
}
.carousel {
    border-bottom: #53A875 solid 8px;
}
.carousel {
    background-image: url(../images/office_spikart_3.png);
    background-size: cover;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-control {
    color: #128522;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control:focus {
    color: #128522;
}
#title-1 {
    text-align:  center;
    color: #128522;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
}
#special-1 {
    text-align:  center;
    color: #53A875;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
}
#about-as {
    background-color: #53A875;
    text-align:  center;
}
#title-2 {
    text-align:  center;
    color: #53A875;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 15px;
    border-bottom: #53A875 solid 8px;
}
#we-center{
margin: auto;}
#we{
    text-align: center;
    color: #000000;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    margin-top: -34px;
    margin-bottom: 15px;
    padding-top: 20px;
}
#we-top {
    text-align: center;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    margin-top: -34px;
    margin-bottom: 45px;
    padding-top: 20px;
}
#footer {
    background-color: #EDFFE9;
    text-align: center;
}
#contakt-foofter{
    color: #53A875;
    font-size: 44px;
    transition: .4s ease-out;
    transition-delay: 0.0s;}

    #contakt-foofter:hover {
    color: #EDFFE9;
}
#contakt-foofter .fa-compass {
    color: #EDFFE9;
    font-size: 100px;
    transition: .4s ease-out;
    transition-delay: 0.0s;
}
#contakt-foofter .fa-compass:hover {
    color: #53A875;
}
#fa-stakc {
    margin-top: -58px;
}
#contakt{
    margin-top: 10px;
}
#adress-footer {
    background-color: #EDFFE9;
    color: #53A875;
    text-align: center;
    margin-top: -15px;
    padding-bottom: 15px;
    border-bottom: #53A875 solid 8px;
}
#adress-top {
    color: #000000;
}
#adress-top a{
    color: #53A875;
}
#top-footer {
    color: #53A875;
    text-align: center;
}
#logo-footer {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
}
