body {
    font-family: verdana;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.navbar {
    min-height: 41px;
    margin-bottom: 0px;
    border: 0px;
}
.navbar-toggle {
    margin-top: 3px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    color: #53A875;
}
.fa-stack {
    margin-top: -7px;
    margin-left: -10px;
}
#top {
    background: #F0FFF5;
    height: 41px;
}
.container-fluid {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
}
#responsive-menu {
    padding-top: 1px;
    position: relative;
}
#responsive-menu a {
    color: #EDFFE9;
    padding: 6px;
    margin: 2px 5px 0px 14px;
    background: #128522;
    box-shadow: 2px 2px 2px #006712;
    transition: .6s ease-out;
    transition-delay: 0.0s;
    outline: none;
}
#responsive-menu a:hover {
    background-color: #027512;
}
#responsive-menu .fa {
    padding-right: 16px;
    padding-left: 8px;
}
.header-container {
    margin-bottom: 0px;
    background: #FFF;
    padding-top: 0px;
}
.f-nav{
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;}
#header-inner-container {
    background: #009688;
}
.logo {
    margin-bottom: -4px;
    margin-top: -4px;
    z-index: 1;
    margin-left: 38px;
}
#chats {
    width: 40px;
    padding-top: 5px;
    text-align: center;

}
#skype {
    padding-top: 0px;
}
#viber {
    padding-top: 5px;
}
#e-mail {
    padding-top: 5px;
}
#chats a {
    text-decoration: none;
    outline: none;
}
#chats b {
    color: #EDFFE9;
}

#social {
    width: 40px;
    padding-top: 5px;

}
#social .image {
    overflow:hidden;
    width: 128px;
    height: 128px;
}

#facebook {
    padding-top: 0px;
    width: 28px;
    height: 28px;
}

#facebook img {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

#facebook img:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

#google-plus {
    padding-top: 3px;

    width: 28px;
    height: 28px;
}

#google-plus img {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

#google-plus img:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

#vk {
    padding-top: 5px;

    width: 28px;
    height: 28px;
}

#vk img {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

#vk img:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

#social a {
    text-decoration: none;
    outline: none;
}
#social b {
    color: #EDFFE9;
}

#phone-adress {
    padding-top: 20px;
    text-align:  left;
}
#phone-adress a {
    text-decoration: none;
}
#phone-adress b {
    text-decoration: none;
    outline: none;
    color: #EDFFE9;
    vertical-align: 0px;
    font-size: inherit;
}
#phone-adress .fa {
    width: 63px;
}
.fa-phone-square {
    font-size: large;
}
#left-square {
    float: left;
}
#phone .fa {
    color: #AAEEFF;
    transition: .6s ease-out;
    transition-delay: 0.0s;
    font-size: 56px;
    padding-top: 3px;
}

#phone .fa:hover {
    color: #EDFFE9;

}

.carousel {
    border-bottom: #009688 solid 8px;
}
.carousel {
    background-image: url(../images/office_spikart_3.png);
    background-size: cover;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-control {
    color: #128522;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control:focus {
    color: #128522;
}
#title-1 {
    text-align:  center;
    color: #128522;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
}
#special-1 {
    text-align:  center;
    color: #53A875;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
}
#about-as {
    background-color: #009688;
    text-align:  center;
}
#title-2 {
    text-align:  center;
    color: #53A875;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 15px;
    border-bottom: #53A875 solid 8px;
}
#we-center{
margin: auto;}
#we{
    text-align: center;
    color: #000000;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    margin-top: -34px;
    margin-bottom: 15px;
    padding-top: 20px;
}
#we-top {
    text-align: center;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    margin-top: -34px;
    margin-bottom: 45px;
    padding-top: 20px;
}
#footer {
    background-color: #EDFFE9;
    text-align: center;
}
#contakt-foofter{
    color: #53A875;
    font-size: 44px;
    transition: .4s ease-out;
    transition-delay: 0.0s;}

    #contakt-foofter:hover {
    color: #EDFFE9;
}
#contakt-foofter .fa-compass {
    color: #EDFFE9;
    font-size: 100px;
    transition: .4s ease-out;
    transition-delay: 0.0s;
}
#contakt-foofter .fa-compass:hover {
    color: #53A875;
}
#fa-stakc {
    margin-top: -58px;
}
#contakt{
    margin-top: 10px;
}
#adress-footer {
    background-color: #EDFFE9;
    color: #53A875;
    text-align: center;
    margin-top: -15px;
    padding-bottom: 15px;
    border-bottom: #53A875 solid 8px;
}
#adress-top {
    color: #000000;
}
#adress-top a{
    color: #53A875;
}
#top-footer {
    color: #009688;
    text-align: center;
}
#logo-footer {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
}
